body {
  margin: 0;
  padding-bottom: 60px;
  background: #EC6F66 !important;
  background: -webkit-linear-gradient(to right, #EC6F66, #F3A183) !important;
  background: linear-gradient(to right, #EC6F66, #F3A183) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);

  p {
    margin: 20px 0px;
  }
}

.register-button {
  margin: 20px;
  float: right;
}

.navigation {
  width: 100%;
  color: white;

  .navbar-brand {
    border-right: 2px solid white;
  }

  li {
    font-size: 14px;
    padding: 10px;
  }

  a {
    color: white;
  }
}

.center-logo {
  text-align: center;
}

.chess {
  margin-top: 140px;
  text-align: center;
}
