#profile-page {
  .profile-pic {
    background-image: url('https://i1.rgstatic.net/ii/profile.image/AS%3A396341948764161%401471506692644_l/Janneke_De_Man-Van_Ginkel.png');
    height: 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid lightgrey;
  }

  #pawn {
    color: lightgrey;
  }

  h3 {
    color: #e67e22;
  }


  .profile-name {
    font-size: 16px;
    font-weight: 500;
  }

  .online-dot {
    margin: 6px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(72, 232, 98);
  }

  .offline-dot {
    margin: 6px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgb(221, 221, 221);
  }

  .games-container {
    height: 105px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .play-link {
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 100%;

    .delete-link {
      z-index: 5;
      color: black;
    }
  }

  .friends-search {
    margin-top: 20px;
  }

  .top-game-margin {
    margin-top: 20px;
  }

  .add-code {
    text-align: center;

    .fa {
      margin-top: 18px;
    }
  }
}
